/*************************
    Background Image
**************************/

.game-link {
    text-decoration: none;
    display: block;
    width: 100%;
    h2 {
        padding: 10px 0;
        font-size: 18px;
        font-weight: 300;
        color: rgba(0,0,0,.54);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: left;
    }
}

.img {
    background-repeat: no-repeat;
    height: 380px;
    position: relative;
}
