/******************
    NAVIGATION
*******************/
$twitch-purple: #6441A5;
$transition-settings: all .3s ease-in;
nav {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 64px;
  background-color: $twitch-purple;
  padding: 12px 24px 0 24px;
  z-index: 1000;
  .ion-navicon {
    font-size: 32px;
    color: white;
    cursor: pointer;
  }
}

.navigation {
    background-color: $twitch-purple;
    position: absolute;
    padding: 0;
    width: 250px;
    margin-top: 17px;
    li {
        list-style-type: none;
        padding: 15px;
        transition: $transition-settings;
        &:hover {
            background-color: white;
            .nav-link {
                color: $twitch-purple;
            }
        }
    }
    .nav-link {
        transition: $transition-settings;
        color: white;
        font-size: 20px;
        font-weight: 300;
    }
}
