/******************
    Frontpage
*******************/
.frontpage-top {
  background-color: #6441A5;
  min-height: 500px;
  text-align: center;
}

.frontpage-top h3 {
  color: white;
  font-weight: 300;
}
