$black-font: rgba(0,0,0,.87);
$grey-font: rgba(0,0,0,.54);

/******************
    Frontpage
*******************/
.frontpage-top {
  background-color: #6441A5;
  min-height: 500px;
  text-align: center;
  h1 {
    color: white;
    font-weight: 300;
    }

.frontpage-logo {
    padding-top: 120px;
  }
}

.container-frontpage {
  padding-bottom: 100px;
  h3 {
      color: $black-font;
  }
}

.lead-text {
  color: $grey-font;
}
